extends layout

block content
  h1= title
  p
  | <ul>
  | <li>
  | <a href="http://localhost:3000/cars/getCars">/cars/getCars</a>
  | </li>
  | <li>
  | <a href="http://localhost:3000/cards/getChargeCards">/cards/getChargeCards</a>
  | </li>
  | <li>
  | <a href="http://localhost:3000/charging/getChargepoints">/charging/getChargepoints</a>
  | </li>
  | <li>
  | <a href="http://localhost:3000/charging/getTotalUsage">/charging/getTotalUsage</a>
  | </li>
  | <li>
  | <a href="http://localhost:3000/charging/getLastChargeSessions">/charging/getLastChargeSessions</a>
  | </li>
  | <li>
  | <a href="http://localhost:3000/users/getUser">/users/getUser</a>
  | </li>
  | </ul>
  
  
